@using ELearning.Models
@model ELearning.Models.StudentAssignmentUser

@{
    ViewBag.Title = "Brugerside for " + Model.user.UserName;
}

@{
    //Extract information from supplied array
    ViewBag.SolvedAssignmentParts = 0;
    ViewBag.SolvedAssignments = 0;
    foreach (StudentAssignment studentassignment in Model.studentassignment)
    {
        
        //Count number of solved assignment parts
        if (studentassignment.Solved1) 
        {
            ViewBag.SolvedAssignmentParts++;
        }
        if (studentassignment.Solved2)
        {
            ViewBag.SolvedAssignmentParts++;
        }
        if (studentassignment.Solved3)
        {
            ViewBag.SolvedAssignmentParts++;
        }
        
        //Count number of solved assignments
        if (studentassignment.Solved1 && studentassignment.Solved2 && studentassignment.Solved3)
        {
            ViewBag.SolvedAssignments++;   
        }
        
        
        //Find day with most attempted assignments
        
     }
}


<br />
    
    <div id="box">
        <div id="lb"><div id="rb">
        <div id="bb"><div id="blc"><div id="brc">
        <div id="tb"><div id="tlc"><div id="trc">
            <div id="content">
                <table class="invis">
                    <tr>
                        <td width=250><h2>@Model.user.UserName</h2></td>
                        <td width=250><b>Point:</b> 1337</td>
                        <td width=250><b>Antal forsøgte opgaver:</b> @Model.studentassignment.Count</td>
                    </tr>
                    <tr> 
                        <td width=350><b>Dag med flest forsøgte opgaver:</b> @ViewBag.MActive.Substring(0, 10) </td>  
                        <td width=250><b>Antal løste delopgaver:</b> @ViewBag.SolvedAssignmentParts</td>
                        <td width=250><b>Antal fuldt løste opgaver:</b> @ViewBag.SolvedAssignments </td>
                    </tr>
                </table>
            </div>
        </div></div></div></div>
        </div></div></div></div>
    </div>
    
    <br /><br /><br />
    
    <div style="position: relative; float: right; width: 200px; height: 200px">
        <fieldset>
            <legend>Highscore</legend>
            <table class="bottomBorder">
                @{
                    int j = 1;
                    for (int i = 0; @ViewBag.TopTen[i] != null; i++)
                    {
                        <tr>
                            <td width=100>@j @ViewBag.TopTen[i]</td>
                            <td width=100 align=right>@ViewBag.TopTen[i+1]</td>
                        </tr>
                        i++;
                        j++;
                    }  
                 }
            </table>
        </fieldset>
    </div>
    
    <h2>Dine senest løste opgaver</h2>

   <table class="standard">
    <tr>
        <th>
            Dato
        </th>
    </tr>
    @foreach (var item in Model.studentassignment)
    {
        <tr>
            <td>
                @item.DateTime
            </td>
       </tr>
    }
    </table>
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />