@using ELearning.Models
@model ELearning.Models.StudentAssignmentUser

@{
    ViewBag.Title = "Brugerside for " + Model.user.UserName;
}

@{
    //Extract information from supplied array
    ViewBag.SolvedAssignmentParts = 0;
    ViewBag.SolvedAssignments = 0;
    foreach (StudentAssignment studentassignment in Model.studentassignment) {
        
        //Count number of solved assignment parts
        if (studentassignment.Solved1) {
            ViewBag.SolvedAssignmentParts++;
        }
        if (studentassignment.Solved2) {
            ViewBag.SolvedAssignmentParts++;
        }
        if (studentassignment.Solved3) {
            ViewBag.SolvedAssignmentParts++;
        }
        
        //Count number of solved assignments
        if (studentassignment.Solved1 && studentassignment.Solved2 && studentassignment.Solved3) {
            ViewBag.SolvedAssignments++;   
        }
        
        //Find day with most attempted assignments
        
     }
}


<br />
    
    <div id="box">
        <div id="lb"><div id="rb">
        <div id="bb"><div id="blc"><div id="brc">
        <div id="tb"><div id="tlc"><div id="trc">
            <div id="content">
                <table class="invis">
                    <tr>
                        <td width=250><h2>@Model.user.UserName</h2></td>
                        <td width=250><b>Point:</b> 1337</td>
                        <td width=250><b>Antal forsøgte opgaver:</b> @Model.studentassignment.Count</td>
                    </tr
                    <tr> 
                        <td width=250><b>Dag med flest forsøgte opgaver:</b> </td>
                       
                          
                         
                            
                        
                        <td width=250><b>Antal løste delopgaver:</b> @ViewBag.SolvedAssignmentParts</td>
                        <td width=250><b>Antal fuldt løste opgaver:</b> @ViewBag.SolvedAssignments </td>
                    </tr>
                </table>
            </div>
        </div></div></div></div>
        </div></div></div></div>
    </div>
    
    <br /><br /><br />
    
    <div style="position: relative; float: right; width: 200px; height: 200px">
        <fieldset>
            <legend>Highscore</legend>
            <table class="bottomBorder">
                <tr>
                    <td width=100>1 Bob</td>
                    <td width=100 align=right>9001</td>
                </tr>
                <tr>
                    <td width=100>2 Grethe</td>
                    <td  width=100 align=right>8600</td>
                </tr>
                <tr>
                    <td width=100>3 Hans</td>
                    <td  width=100 align=right>5310</td>
                </tr>
                <tr>
                    <td width=100>4 Bartimæus</td>
                    <td  width=100 align=right>5177</td>
                </tr>
                <tr>
                    <td width=100>5 Lisa</td>
                    <td  width=100 align=right>3951</td>
                </tr>
                <tr>
                    <td width=100>6 Ballmer</td>
                    <td  width=100 align=right>3486</td>
                </tr>
                <tr>
                    <td width=100>7 Dorthe</td>
                    <td  width=100 align=right>2117</td>
                </tr>
                <tr>
                    <td width=100>8 Ib</td>
                    <td  width=100 align=right>1337</td>
                </tr>
                <tr>
                    <td width=100>9 Bo</td>
                    <td  width=100 align=right>1010</td>
                </tr>
                <tr>
                    <td width=100>10 Yvette</td>
                    <td  width=100 align=right>988</td>
                </tr>
            </table>
        </fieldset>
    </div>
    
    <h2>Dine senest løste opgaver</h2>

   <table class="standard">
    <tr>
        <th>
            Dato
        </th>
    </tr>
    @foreach (var item in Model.studentassignment)
    {
        <tr>
            <td>
                @item.DateTime
            </td>
       </tr>
    }
    </table>
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />