@model ELearning.Models.Assignment

@{
    ViewBag.Title = "Create";
}
<h2>Opret ny opgave</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
    function showHideText(box, id)
    {
        var elm = document.getElementById(id)
        elm.style.display = box.checked ? "inline" : "none"
    }
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Opgave</legend>
        Emne: 
        @Html.DropDownListFor(model => model.SubjectId, new SelectList(ViewBag.subjects, "subject"))
        @Html.ValidationMessageFor(model => model.SubjectId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>

        <div class="textarea-field">
            @Html.TextAreaFor(model => model.Text, new { @cols = 60, @rows = 10 })
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        <table class="invis" cellspacing="30px">
            <tr>
                <td>
                    <fieldset>
                    <legend>Teoriopgave</legend>
                        <input type="checkbox" name="switchBox" onclick="showHideText(this,'tValg')" />
                        <div id="tValg" style="display:none;">
                    
                            <div class="editor-label">
                                @Html.LabelFor(model => model.tOption1)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.tOption1)
                                @Html.ValidationMessageFor(model => model.tOption1)
                                @Html.RadioButtonFor(model => model.TruetOption, 1)
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.tOption2)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.tOption2)
                                @Html.ValidationMessageFor(model => model.tOption2)
                                @Html.RadioButtonFor(model => model.TruetOption, 2)
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.tOption3)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.tOption3)
                                @Html.ValidationMessageFor(model => model.tOption3)
                                @Html.RadioButtonFor(model => model.TruetOption, 3)
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.tOption4)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.tOption4)
                                @Html.ValidationMessageFor(model => model.tOption4)
                                @Html.RadioButtonFor(model => model.TruetOption, 4)
                            </div>
                            <div class="editor-field" align="right">
                                Fjern denne delopgave 
                                @Html.RadioButtonFor(model => model.TruetOption, 5, new { Checked = "checked" })
                            </div>
                        </div>
                    </fieldset>
                </td>
                <td>
                    <fieldset>
                    <legend>Mellemregningsopgave</legend>
                        <input type="checkbox" name="switchBox" onclick="showHideText(this,'mValg')" />
                        <div id="mValg" style="display:none;">
                    
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Option1)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Option1)
                                @Html.ValidationMessageFor(model => model.Option1)
                                @Html.RadioButtonFor(model => model.TrueOption, 1)
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Option2)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Option2)
                                @Html.ValidationMessageFor(model => model.Option2)
                                @Html.RadioButtonFor(model => model.TrueOption, 2)
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Option3)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Option3)
                                @Html.ValidationMessageFor(model => model.Option3)
                                @Html.RadioButtonFor(model => model.TrueOption, 3)
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Option4)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Option4)
                                @Html.ValidationMessageFor(model => model.Option4)
                                @Html.RadioButtonFor(model => model.TrueOption, 4)
                            </div>
                            <div class="editor-field" align="right">
                                Fjern denne delopgave 
                                @Html.RadioButtonFor(model => model.TrueOption, 5, new { Checked = "checked" })
                            </div>
                        </div>
                     </fieldset>
                </td>
                <td>
                    <fieldset>
                        <legend>Facitopgave</legend>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.fOption1)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.fOption1)
                            @Html.ValidationMessageFor(model => model.fOption1)
                            @Html.RadioButtonFor(model => model.TruefOption, 1, new { Checked = "checked" })
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.fOption2)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.fOption2)
                            @Html.ValidationMessageFor(model => model.fOption2)
                            @Html.RadioButtonFor(model => model.TruefOption, 2)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.fOption3)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.fOption3)
                            @Html.ValidationMessageFor(model => model.fOption3)
                            @Html.RadioButtonFor(model => model.TruefOption, 3)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.fOption4)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.fOption4)
                            @Html.ValidationMessageFor(model => model.fOption4)
                            @Html.RadioButtonFor(model => model.TruefOption, 4)
                        </div>
                    </fieldset>
                </td>
            </tr>
        </table>
        <input type="submit" value="Opret" />
    </fieldset>
}

<div>
    @Html.ActionLink("Tilbage", "Index")
</div>
