@model ELearning.Models.Assignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Assignment</legend>

    <div class="display-label">Text</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
        @Html.DisplayFor(model => model.Option1)
        @Html.DisplayFor(model => model.Option2)
        @Html.DisplayFor(model => model.Option3)
        @Html.DisplayFor(model => model.Option4)
        @Html.DisplayFor(model => model.TrueOption)
        @Html.DisplayFor(model => model.Answer)
</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
