@model ELearning.Models.Assignment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Opgave</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="textarea-field">
            @Html.TextAreaFor(model => model.Text, new { @cols = 60, @rows = 10 })
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        <table class="invis" cellspacing="30px">
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Option1)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Option1)
                        @Html.ValidationMessageFor(model => model.Option1)
                        @Html.RadioButtonFor(model => model.Answer, 1)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Option2)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Option2)
                        @Html.ValidationMessageFor(model => model.Option2)
                        @Html.RadioButtonFor(model => model.Answer, 2)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Option3)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Option3)
                        @Html.ValidationMessageFor(model => model.Option3)
                        @Html.RadioButtonFor(model => model.Answer, 3)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Option4)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Option4)
                        @Html.ValidationMessageFor(model => model.Option4)
                        @Html.RadioButtonFor(model => model.Answer, 4)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.fOption1)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.fOption1)
                        @Html.ValidationMessageFor(model => model.fOption1)
                        @Html.RadioButtonFor(model => model.FinalAnswer, 1)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.fOption2)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.fOption2)
                        @Html.ValidationMessageFor(model => model.fOption2)
                        @Html.RadioButtonFor(model => model.FinalAnswer, 2)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.fOption3)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.fOption3)
                        @Html.ValidationMessageFor(model => model.fOption3)
                        @Html.RadioButtonFor(model => model.FinalAnswer, 3)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.fOption4)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.fOption4)
                        @Html.ValidationMessageFor(model => model.fOption4)
                        @Html.RadioButtonFor(model => model.FinalAnswer, 4)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.tOption1)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.tOption1)
                        @Html.ValidationMessageFor(model => model.tOption1)
                        @Html.RadioButtonFor(model => model.TheoryAnswer, 1)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.tOption2)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.tOption2)
                        @Html.ValidationMessageFor(model => model.tOption2)
                        @Html.RadioButtonFor(model => model.TheoryAnswer, 2)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.tOption3)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.tOption3)
                        @Html.ValidationMessageFor(model => model.tOption3)
                        @Html.RadioButtonFor(model => model.TheoryAnswer, 3)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.tOption4)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.tOption4)
                        @Html.ValidationMessageFor(model => model.tOption4)
                        @Html.RadioButtonFor(model => model.TheoryAnswer, 4)
                    </div>
                </td>
            </tr>
        </table>
        <input type="submit" value="Opret" />
    </fieldset>
}

<div>
    @Html.ActionLink("Tilbage", "Index")
</div>
