@model IEnumerable<ELearning.Models.Assignment>

@{
    ViewBag.Title = "Opgaver";
}

<h2>Opgaver</h2>
<p>
    @Html.ActionLink("Opret ny opgave", "Create")
     - 
    @Html.ActionLink("Opret nyt emne", "CreateSubject")
</p>
<table class="standard">
    <tr>
        <th>
            Opgavetekst
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @{
                if (@item.Text.Length > 100)
                {
                    @(item.Text.Substring(0, 100) + "...")
                }
                else
                {
                    @item.Text
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectId) |
            @Html.ActionLink("Rediger", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detaljer", "Details", new { id = item.ID }) |
            @Html.ActionLink("Slet", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
