@model IEnumerable<ELearning.Models.Assignment>

@{
    ViewBag.Title = "Opgaver";
}

<h2>Opgaver</h2>
<p>
    @Html.ActionLink("Opret ny", "Create")
</p>
<table class="standard">
    <tr>
        <th>
            Opgavetekst
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.ActionLink("Rediger", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.ID }) |
            @Html.ActionLink("Slet", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
