@model ELearning.Models.StaticAssignment
@{
    ViewBag.Title = "Index";
}

<h2>Assignments</h2>

 <div id="box">
        <div id="lb"><div id="rb">
        <div id="bb"><div id="blc"><div id="brc">
        <div id="tb"><div id="tlc"><div id="trc">
            <div id="content">
                @using (Html.BeginForm())
                {
                    <center>
                        <table border="0" cellspacing="4" cellpadding="40" rules="cols" frame="void">
                            <tr>
                                <th width="250">Opgavetekst</th>
                                <th width="300">Mellemregning</th>
                                <th width="150">Resultat</th>
                            </tr>
                            <tr>
                                <td>Når man skal udregne 2+2, hvad er så vigtigt at huske?</td>
                                <td align="right">
                                    <div class="editor-field">At man skal regne dansk moms med 
                                    @Html.RadioButtonFor(model => model.Answer, 1)</div>
                                     
                                    <div class="editor-field">At sige til sin lærer man ikke forstår det 
                                    @Html.RadioButtonFor(model => model.Answer, 2)</div>
                                    
                                    <div class="editor-field">At man har fingre nok til at tælle det 
                                    @Html.RadioButtonFor(model => model.Answer, 3)</div> 
                                    
                                    <div class="editor-field">Ved ikke 
                                    @Html.RadioButtonFor(model => model.Answer, 4)</div>
                                </td>
                                <td align="right">
                                    <div class="editor-field">0 @Html.RadioButtonFor(model => model.FinalAnswer, 1)</div>
                                    <div class="editor-field">2 @Html.RadioButtonFor(model => model.FinalAnswer, 2)</div>
                                    <div class="editor-field">3 @Html.RadioButtonFor(model => model.FinalAnswer, 3)</div>
                                    <div class="editor-field">4 @Html.RadioButtonFor(model => model.FinalAnswer, 4)</div>
                                </td>
                            </tr>
                        </table>
                    </center>
                    <center>
                        <button type="submit" value="submit">Submit</button>
                    </center>
                }
            </div>
        </div></div></div></div>
        </div></div></div></div>
    </div>

