@model ELearning.Models.GivenAssignment

@{
    ViewBag.Title = "Index";
}

<div id="bluehead"><h2>Opgaver</h2></div>
<h4>@Html.DisplayTextFor(model => model.gAssignment.Text)</h4>


 <div id="box">
        <div id="lb"><div id="rb">
        <div id="bb"><div id="blc"><div id="brc">
        <div id="tb"><div id="tlc"><div id="trc">
            <div id="content">
                @using (Html.BeginForm())
                {
                    <center>
                        <table border="0" cellspacing="4" cellpadding="40" rules="cols" frame="void">
                            <tr>
                                <th width="300">Teori</th>
                                <th width="300">Mellemregning</th>
                                <th width="150">Resultat</th>
                            </tr>
                            <tr>
                                <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1) 
                                    @Html.RadioButtonFor(model => model.TheoryAnswer, 1)</div>
                                     
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2) 
                                    @Html.RadioButtonFor(model => model.TheoryAnswer, 2)</div>
                                    
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3) 
                                    @Html.RadioButtonFor(model => model.TheoryAnswer, 3)</div> 
                                    
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)
                                    @Html.RadioButtonFor(model => model.TheoryAnswer, 4)</div>
                                </td>
                                <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)
                                    @Html.RadioButtonFor(model => model.Answer, 1)</div>
                                     
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)
                                    @Html.RadioButtonFor(model => model.Answer, 2)</div>
                                    
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)
                                    @Html.RadioButtonFor(model => model.Answer, 3)</div> 
                                    
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)
                                    @Html.RadioButtonFor(model => model.Answer, 4)</div>
                                </td>
                                <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)
                                    @Html.RadioButtonFor(model => model.FinalAnswer, 1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)
                                    @Html.RadioButtonFor(model => model.FinalAnswer, 2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)
                                    @Html.RadioButtonFor(model => model.FinalAnswer, 3)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)
                                    @Html.RadioButtonFor(model => model.FinalAnswer, 4)</div>
                                    @Html.Hidden("assignmentID", Model.gAssignment.ID)
                                </td>
                            </tr>
                        </table>
                    </center>
                    <center>
                        <button type="submit" value="submit">Submit</button>
                    </center>
                }
            </div>
        </div></div></div></div>
        </div></div></div></div>
    </div>