@model ELearning.Models.GivenAssignment

@{
    ViewBag.Title = "Index";
}

<h2><div style="color:#5c87b2">@Html.DisplayFor(model => model.gAssignment.SubjectId)</div></h2>
<h4>@Html.DisplayTextFor(model => model.gAssignment.Text)</h4>

 <div id="box">
        <div id="lb"><div id="rb">
        <div id="bb"><div id="blc"><div id="brc">
        <div id="tb"><div id="tlc"><div id="trc">
            <div id="content">
                @using (Html.BeginForm())
                {
                    <center>
                        <table border="0" cellspacing="4" cellpadding="40" rules="cols" frame="void">
                            <tr>
                                @{ if (Model.gAssignment.TruetOption.Equals(5))
                                   { <th width="300"></th> }
                                   else
                                   { <th width="300">Teoriopgave</th> <p>@Model.gAssignment.TruetOption</p> }
                                   if (Model.gAssignment.TrueOption.Equals(5))
                                   { <th width="300"></th> }
                                   else
                                   { <th width="300">Mellemregning</th> }
                              }
                                 <th width="150">Resultat</th>
                            </tr>
                            <tr>
                                <td><div style="color:#5c87b2">@Model.gAssignment.tText</div></td>
                                <td><div style="color:#5c87b2">@Model.gAssignment.mText</div></td>
                                <td><div style="color:#5c87b2">@Model.gAssignment.fText</div></td>
                            </tr>
                            <tr>
                                <td align="right">
                                @{ if (Model.gAssignment.TruetOption.Equals(5)) { }
                                   else
                                   {
                                    <div class="editor-field">
                                        <label for="Answer1">@Html.DisplayFor(model => model.gAssignment.tOption1)</label>
                                        <input id="Answer1" name="TheoryAnswer" type="radio" value="1" />
                                    </div>
                                    <div class="editor-field">
                                        <label for="Answer2">@Html.DisplayFor(model => model.gAssignment.tOption2)</label>
                                        <input id="Answer2" name="TheoryAnswer" type="radio" value="2" />
                                    </div>
                                    <div class="editor-field">
                                        <label for="Answer3">@Html.DisplayFor(model => model.gAssignment.tOption3)</label>
                                        <input id="Answer3" name="TheoryAnswer" type="radio" value="3" />
                                    </div>
                                    <div class="editor-field">
                                        <label for="Answer4">@Html.DisplayFor(model => model.gAssignment.tOption4)</label>
                                        <input id="Answer4" name="TheoryAnswer" type="radio" value="4" />
                                    </div>}
                }
                                </td>
                                <td align="right">
                                @{ if (Model.gAssignment.TrueOption.Equals(5)) { }
                                   else
                                   {
                                    <div class="editor-field">@Html.LabelFor(model => model.Answer, Model.gAssignment.Option1)
                                    @Html.RadioButtonFor(model => model.Answer, 1)</div>
                                     
                                    <div class="editor-field">@Html.LabelFor(model => model.Answer, Model.gAssignment.Option2)
                                    @Html.RadioButtonFor(model => model.Answer, 2)</div>
                                    
                                    <div class="editor-field">@Html.LabelFor(model => model.Answer, Model.gAssignment.Option3)
                                    @Html.RadioButtonFor(model => model.Answer, 3)</div> 
                                    
                                    <div class="editor-field">@Html.LabelFor(model => model.Answer, Model.gAssignment.Option4)
                                    @Html.RadioButtonFor(model => model.Answer, 4)</div>}
                }
                                </td>
                                <td align="right">
                                    <div class="editor-field">@Html.LabelFor(model => model.FinalAnswer, Model.gAssignment.fOption1)
                                    @Html.RadioButtonFor(model => model.FinalAnswer, 1)</div>

                                    <div class="editor-field">@Html.LabelFor(model => model.FinalAnswer, Model.gAssignment.fOption2)
                                    @Html.RadioButtonFor(model => model.FinalAnswer, 2)</div>

                                    <div class="editor-field">@Html.LabelFor(model => model.FinalAnswer, Model.gAssignment.fOption3)
                                    @Html.RadioButtonFor(model => model.FinalAnswer, 3)</div>

                                    <div class="editor-field">@Html.LabelFor(model => model.FinalAnswer, Model.gAssignment.fOption4)
                                    @Html.RadioButtonFor(model => model.FinalAnswer, 4)</div>

                                    @Html.Hidden("assignmentID", Model.gAssignment.ID)
                                </td>
                            </tr>
                        </table>
                    </center>
                    <center>
                        <button type="submit" value="submit">Submit</button>
                    </center>
                }
            </div>
        </div></div></div></div>
        </div></div></div></div>
    </div>