@model ELearning.Models.GivenAssignment
@using ELearning.Models
@{
    ViewBag.Title = "result";
    Assignment assignment = Assignment.GetSpecificAssignment(Model.assignmentID);
}


<h2>Result</h2>


 
 <div id="box">
        <div id="lb"><div id="rb">
        <div id="bb"><div id="blc"><div id="brc">
        <div id="tb"><div id="tlc"><div id="trc">
            <div id="content">
                @using (Html.BeginForm())
                {
                    <center>
                        <table border="0" cellspacing="4" cellpadding="40" rules="cols" frame="void">
                            <tr>
                            @{ if (assignment.TruetOption.Equals(5))
                               { <th width="300"></th> }
                               else
                               { <th width="300">Teoriopgave</th> }
                               if (assignment.TrueOption.Equals(5))
                               { <th width="300"></th> }
                               else
                               { <th width="300">Mellemregning</th> }
                              }
                                 <th width="150">Resultat</th>
                            </tr>
                            <tr>
                            @{ if (assignment.TruetOption.Equals(1))
                               {
                                   if (Model.TheoryAnswer.Equals(1))
                                   {
                                   <td align="right">
                                    <div class="editor-field"><span style="color:#00FF00">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</div>
                                </td>
                                   }
                                   else if (Model.TheoryAnswer.Equals(2))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</div>
                                </td>
                                   }
                                   else if (Model.TheoryAnswer.Equals(3))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</span></div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</div>
                                </td>
                                   }
                                   else if (Model.TheoryAnswer.Equals(4))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</div> 
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</span></div>
                                </td>
                                   }

                               }

                               else if (assignment.TruetOption.Equals(2))
                               {
                                   if (Model.TheoryAnswer.Equals(1))
                                   {
                                   <td align="right">
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</div>
                                </td>
                                   }
                                   else if (Model.TheoryAnswer.Equals(2))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</div>
                                    <div class="editor-field"><span style="color:#00FF00">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</div>
                                </td>
                                   }
                                   else if (Model.TheoryAnswer.Equals(3))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</span></div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</div>
                                </td>
                                   }
                                   else if (Model.TheoryAnswer.Equals(4))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</div> 
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</span></div>
                                </td>
                                   }

                               }


                               else if (assignment.TruetOption.Equals(3))
                               {
                                   if (Model.TheoryAnswer.Equals(1))
                                   {
                                   <td align="right">
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</div>
                                </td>
                                   }
                                   else if (Model.TheoryAnswer.Equals(2))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</div>
                                </td>
                                   }
                                   else if (Model.TheoryAnswer.Equals(3))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</div>
                                    <div class="editor-field"><span style="color:#00FF00">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</span></div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</div>
                                </td>
                                   }
                                   else if (Model.TheoryAnswer.Equals(4))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</div> 
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</span></div>
                                </td>
                                   }

                               }


                               else if (assignment.TruetOption.Equals(4))
                               {
                                   if (Model.TheoryAnswer.Equals(1))
                                   {
                                   <td align="right">
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</div>
                                </td>
                                   }
                                   else if (Model.TheoryAnswer.Equals(2))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</div>
                                </td>
                                   }
                                   else if (Model.TheoryAnswer.Equals(3))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</span></div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</div>
                                </td>
                                   }
                                   else if (Model.TheoryAnswer.Equals(4))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.tOption3)</div> 
                                    <div class="editor-field"><span style="color:#00FF00">@Html.DisplayTextFor(model => model.gAssignment.tOption4)</span></div>
                                </td>
                                   }

                               }   
                                      
                                   
                               if (assignment.TrueOption.Equals(1))
                               {
                                   if (Model.Answer.Equals(1))
                                   {
                                   <td align="right">
                                    <div class="editor-field"><span style="color:#00FF00">@Html.DisplayTextFor(model => model.gAssignment.Option1)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)</div>
                                </td>
                                   }
                                   else if (Model.Answer.Equals(2))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.Option2)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)</div>
                                </td>
                                   }
                                   else if (Model.Answer.Equals(3))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.Option3)</span></div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)</div>
                                </td>
                                   }
                                   else if (Model.Answer.Equals(4))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)</div> 
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.Option4)</span></div>
                                </td>
                                   }

                               }

                               else if (assignment.TrueOption.Equals(2))
                               {
                                   if (Model.Answer.Equals(1))
                                   {
                                   <td align="right">
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.Option1)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)</div>
                                </td>
                                   }
                                   else if (Model.Answer.Equals(2))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)</div>
                                    <div class="editor-field"><span style="color:#00FF00">@Html.DisplayTextFor(model => model.gAssignment.Option2)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)</div>
                                </td>
                                   }
                                   else if (Model.Answer.Equals(3))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.Option3)</span></div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)</div>
                                </td>
                                   }
                                   else if (Model.Answer.Equals(4))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)</div> 
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.Option4)</span></div>
                                </td>
                                   }

                               }


                               else if (assignment.TrueOption.Equals(3))
                               {
                                   if (Model.Answer.Equals(1))
                                   {
                                   <td align="right">
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.Option1)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)</div>
                                </td>
                                   }
                                   else if (Model.Answer.Equals(2))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.Option2)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)</div>
                                </td>
                                   }
                                   else if (Model.Answer.Equals(3))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)</div>
                                    <div class="editor-field"><span style="color:#00FF00">@Html.DisplayTextFor(model => model.gAssignment.Option3)</span></div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)</div>
                                </td>
                                   }
                                   else if (Model.Answer.Equals(4))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)</div> 
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.Option4)</span></div>
                                </td>
                                   }

                               }


                               else if (assignment.TrueOption.Equals(4))
                               {
                                   if (Model.Answer.Equals(1))
                                   {
                                   <td align="right">
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.Option1)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)</div>
                                </td>
                                   }
                                   else if (Model.Answer.Equals(2))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.Option2)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)</div>
                                </td>
                                   }
                                   else if (Model.Answer.Equals(3))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.Option3)</span></div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option4)</div>
                                </td>
                                   }
                                   else if (Model.Answer.Equals(4))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.Option3)</div> 
                                    <div class="editor-field"><span style="color:#00FF00">@Html.DisplayTextFor(model => model.gAssignment.Option4)</span></div>
                                </td>
                                   }

                               }      
                                   
                                      
                                
                               if (assignment.TruefOption.Equals(1))
                               {
                                   if (Model.FinalAnswer.Equals(1))
                                   {
                                   <td align="right">
                                    <div class="editor-field"><span style="color:#00FF00">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</div>
                                </td>
                                   }
                                   else if (Model.FinalAnswer.Equals(2))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</div>
                                </td>
                                   }
                                   else if (Model.FinalAnswer.Equals(3))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</span></div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</div>
                                </td>
                                   }
                                   else if (Model.FinalAnswer.Equals(4))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</div> 
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</span></div>
                                </td>
                                   }

                               }

                               else if (assignment.TruefOption.Equals(2))
                               {
                                   if (Model.FinalAnswer.Equals(1))
                                   {
                                   <td align="right">
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</div>
                                </td>
                                   }
                                   else if (Model.FinalAnswer.Equals(2))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</div>
                                    <div class="editor-field"><span style="color:#00FF00">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</div>
                                </td>
                                   }
                                   else if (Model.FinalAnswer.Equals(3))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</span></div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</div>
                                </td>
                                   }
                                   else if (Model.FinalAnswer.Equals(4))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</div> 
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</span></div>
                                </td>
                                   }

                               }


                               else if (assignment.TruefOption.Equals(3))
                               {
                                   if (Model.FinalAnswer.Equals(1))
                                   {
                                   <td align="right">
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</div>
                                </td>
                                   }
                                   else if (Model.FinalAnswer.Equals(2))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</div>
                                </td>
                                   }
                                   else if (Model.FinalAnswer.Equals(3))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</div>
                                    <div class="editor-field"><span style="color:#00FF00">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</span></div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</div>
                                </td>
                                   }
                                   else if (Model.FinalAnswer.Equals(4))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</div> 
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</span></div>
                                </td>
                                   }

                               }


                               else if (assignment.TruefOption.Equals(4))
                               {
                                   if (Model.FinalAnswer.Equals(1))
                                   {
                                   <td align="right">
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</div>
                                </td>
                                   }
                                   else if (Model.FinalAnswer.Equals(2))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</span></div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</div>
                                </td>
                                   }
                                   else if (Model.FinalAnswer.Equals(3))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</div>
                                    <div class="editor-field"><span style="color:#FF0000">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</span></div> 
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</div>
                                </td>
                                   }
                                   else if (Model.FinalAnswer.Equals(4))
                                   {
                                   <td align="right">
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption1)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption2)</div>
                                    <div class="editor-field">@Html.DisplayTextFor(model => model.gAssignment.fOption3)</div> 
                                    <div class="editor-field"><span style="color:#00FF00">@Html.DisplayTextFor(model => model.gAssignment.fOption4)</span></div>
                                </td>
                                   }

                               }  
                                   
                                   }
                               
                                
                                    @Html.Hidden("assignmentID", assignment.ID);
                                
                            </tr>
                        </table>
                    </center>
                }
            </div>
        </div></div></div></div>
        </div></div></div></div>
    </div>
    <div style="color:#00FF00">Løst opgave 80 point</div>
    @{ 
        int x = 0;
        var j = assignment.TruetOption;
        for (int i = 0; i == 2; i++ )
        {
            if(assignment.Equals(j))
            {
                <div style="color:#00FF00">Løst delopgave korrekt 120 point</div>
                x++;
            }
            if(i == 0)
            {
                j = assignment.TrueOption;
            }
            else
            {
                j = assignment.TruefOption;
            }
        }
        if (x == 3)
        { <div style="color:#00FF00">Løst hele opgaven korrekt 80 point</div> }    
    }                                                    
    
